<!doctype html>
<html class="mdc-typography">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>FountainJS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="http://fountainjs.io/assets/imgs/fountain.png" />
    <title>Material Components for the web</title>
   <link rel="stylesheet"
         href="open-digit/node_modules/material-components-web/dist/material-components-web.css">
  </head>

  <body>
    <fountain-root>Loading...</fountain-root>
  </body>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
    <script>
      var linkHandler = Plaid.create({
       env: 'sandbox',
       clientName: 'Plaid Sandbox',
       // Replace '<PUBLIC_KEY>' with your own `public_key`
       key: 'd75c9186402d2aff8219dab858c847',
       product: ['auth'],
       onSuccess: function(public_token, metadata) {
         // Send the public_token to your app server here.
         // The metadata object contains info about the
         // institution the user selected and the
         // account_id, if selectAccount is enabled.
         
         /*jQuery.post('/login' + ?"token=" + public_token, function() {
           console.log("Sent")
         })
         .done(function() {
           console.log("Success")
         })
         .fail(function() {
           console.log("Send Failed")
         })
         .always(function() {
           console.log("Success")
         })*/ 

        var xhr = new XMLHttpRequest();
        xhr.open("POST", '/login?token=' + public_token, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
        xhr.send();
        
       },
       onExit: function(err, metadata) {
         // The user exited the Link flow.
         if (err != null) {
        console.log("Error: " + err);

         }
         // metadata contains information about the
         // institution that the user selected and the
         // most recent API request IDs. Storing this
         // information can be helpful for support.
       }
      });
      // Trigger the standard institution select view
      document.getElementById('link-button').onclick = function() {
       linkHandler.open();
      };
    </script>
    <script src="templates/open-digit/node_modules/material-components-web/dist/material-components-web.js"></script>
    <script>mdc.autoInit()</script>
</html>
